html {
  font-size: 10px;
  font-family: Verdana, Tahoma, sans-serif, serif;
}
#sitemaps {
  .table-striped>thead {
    font-size: 2.5rem;
    color: darkblue;
    th {
      text-align: center;
    }
  }
  .table-striped>tbody>tr {
    background: lightblue;
    font-size: 2rem;
  }
  .table-striped>tbody>tr>td {
    border: solid;
  }
  .table-striped>tbody>tr:nth-of-type(odd) {
      background-color: pink;
  }
}