nav.nav01
  ul
    li
      a page 1
    li
      a page 2
      ul
        li
          a page 2.1
        li
          a page 2.2
        li
          a page 2.3
        li
          a page 2.4
    li
      a page 3
      ul
        li
          a page 3.1
        li
          a page 3.2
          ul
            li
              a page 3.2.1
            li
              a page 3.2.2
            li
              a page 3.2.3
            li
              a page 3.2.4          
        li
          a page 3.3
          ul
            li
              a page 3.3.1
            li
              a page 3.3.2
            li
              a page 3.3.3
            li
              a page 3.3.4    
        li
          a page 3.4
    li
      a page 4
      ul
        li
          a page 4.1
        li
          a page 4.2
        li
          a page 4.3
        li
          a page 4.4      