h1 thuong
ul(data-tabs data-animate='fadeIn' data-duration="2000")
  li(data-tab="tab1") Ngo
  li(data-tab="tab2") Thi
  li(data-tab="tab3").active Dang
  li(data-tab="tab4") Thuong
  #tab1.tab
    | content 1
  #tab2.tab
    | content 2
  #tab3.tab
    | content 3
  #tab4.tab
    | content 4
//- script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59aa8cf63b9272cf")