.cv-right
  .avatar
    img.img-responsive.img-circle(src="../img/avatar.jpg")
  .about-me
    h2.title about me
    .birthday
      span.icon
      | 28 July, 1994
    .address
      span.icon
      | 21/15 Vạn Kiếp, p.3, q.Bình Thạnh, tp.HCM
    .education
      span.icon
      | Ho Chi Minh University of Law
  .contact-me
    h2.title contact me
    .phone
      span.icon
      a(href="tel:+84965414424", title="+84965 414 424") +84965 414 424
    .mail
      span.icon
      a(href="mailto:ntdangthuong@gmail.com", title="ntdangthuong@gmail.com") ntdangthuong@gmail.com
    .fb
      span.icon
      a(href="https://fb.com/pexi287", title="https://fb.com/pexi287") https://fb.com/pexi287
    .viber
      span.icon
      a(href="tel:+84965414424", title="+84965 414 424") +84965 414 424